body{
    padding:8 px;
}

.e-schedule .e-appointment-details{
    padding: 0 !important;
}
.templateWrap{
    background-color: green;
    padding-left:20px;
    padding-right:5px;
    padding-top:7px;
    padding-bottom:10px;
    font-size:14px;
    font-weight:500;
}